<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome, {{ name }}!</title>
  </head>
  <body>
    {% for p in posts %}
      {% if forloop.counter == 1 %}
        <h1>All Posts</h1>
      {% endif %}
      <a href="../{{ p.id }}"><h2><small>{{ forloop.counter }} -</small>{{ p.title }}</h2></a>
      <p>{{ p.content }}</p>
    {% empty %}
      <h5>No post available yet 🥲</h5>
    {% endfor %}
  </body>
</html>
